#BUSINESS UNDERSTANDING

The purpose of undertaking this project is to find out ways to improve the business using data that has been collected on its previous operations to determine how pricing and resource management can be better implemented to maximise on profit; mitigate waste and improve on efficiency.
The project can be deemed successful if without refute data is presented and analysed to the result of guaranteeing a causation can result to more usage on the products being delivered and also giving a better service to the customers using the products.
Also; marketing and expansion strategies can be put in place using the data answering the fundamental question that is where the changes should be implemented.

#DATA UNDERSTANDING

The data that has been provided for analysis is dispersed within four datasets. Three are tables that show the product the customer consumes. The value paid, time etcetera which are best described in the tables below.
For the cell_geo dataset is as follows.
![CELLGEO.png]()

The telecommunication datasets [describing the sales of products bought] is as follows:![TELECOM.png]()

With the above data there may be a possible common link between the cells or the sites. Due to the multiple times that a product may be used from one cell there is a chance that the cell_geo to telecommunication dataset may have a one to many relationship.

**strings describe data that is stored as text that is legible whiles float and int are data stored as numbers which can undergo mathematical manipulation *italicized text*

# DATA PREPERATION

The data will be prepared in the following ways:
1.	All the data containing information on the product and their purchases [telecommunication dataset] will be equated in description i.e all columns will be made similar.
2.	All the data in the cell_geo dataset will be checked and for the possible common data which will link the two datasets will be renamed appropriately
3.	The telecommunication dataset will be concatenated into one big dataset.
4.	The combined dataset will be checked for data that is missing or data that is inappropriately stored [numbers as text] or for strange values where they are not appropriately place.
5.	Duplicated data shall be sought for within the cell_geo dataset and shall be deleted.
6.	Duplicated data shall be sought for within the telecommunication dataset and shall be deleted.
7.	With all the data befitting the data types allocated in the tables in the previous section and none of the data having duplicated records the two datasets will be merged.

##Loading the required libraries for the project

In [1]:
import pandas as pd
import numpy as np

##Loading the datasets

Loads the cell_geo csv file and adapt it into a dataframe.

In [2]:
with open("/content/cells_geo.csv","r") as r:
  wer= pd.read_csv(r, delimiter= ";")
ower = wer
wer

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

Loads the dataset csv file and adapt it into a dataframe.

In [3]:
with open("/content/Telcom_dataset.csv","r") as q:
  qw1 = pd.read_csv(q)
oqw1 = qw1
qw1

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

Loads the dataset csv file and adapt it into a dataframe.

In [4]:
with open("/content/Telcom_dataset2.csv","r") as w:
  qw2 = pd.read_csv(w)
oqw2 = qw2
qw2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

Loads the dataset csv file and adapt it into a dataframe.

In [5]:
with open("/content/Telcom_dataset3.csv","r") as e:
  qw3 = pd.read_csv(e)
oqw3 = qw3
qw3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

##Data Preparation

Checking for the similarity in the columns ot the three uploaded datasets.

In [6]:
if ((qw1.columns == qw2.columns).all()) & ((qw3.columns == qw2.columns).all()):
  print ("yaasss")

print (qw1.columns)
print (qw2.columns)
print (qw3.columns)

Index(['PRODUTC', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')
Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER',
       'DW_B_NUMBER', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')
Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELLID', 'SIET_ID'],
      dtype='object')

Making an array of the labels for the columns of the dataset. Then sets the names onto the dataframes for easier concatenating.

In [7]:
co = ["p",'v','d','cos','da','db','ca','cb','cid','sid']

qw1.columns = co
qw2.columns = co
qw3.columns = co

Testing for the similarity of the columns of the dataframes

In [8]:
if ((qw1.columns == qw2.columns).all()) & ((qw3.columns == qw2.columns).all()):
  print ("yaasss")

print (qw1.columns)
print (qw2.columns)
print (qw3.columns)

yaasss
Index(['p', 'v', 'd', 'cos', 'da', 'db', 'ca', 'cb', 'cid', 'sid'], dtype='object')
Index(['p', 'v', 'd', 'cos', 'da', 'db', 'ca', 'cb', 'cid', 'sid'], dtype='object')
Index(['p', 'v', 'd', 'cos', 'da', 'db', 'ca', 'cb', 'cid', 'sid'], dtype='object')

Concatenating of the dataframes into 1.

In [9]:
qwe = pd.concat([qw1,qw2,qw3], ignore_index=True)
oqwe = qwe
qwe

           p   v                      d  ...     cb         cid         sid
0      Voice   0  2012-05-06 23:04:37.0  ...  19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms   0  2012-05-06 23:05:25.0  ...  19e2e  /+cKZKIp41  /+cKZKIp41
2        sms  25  2012-05-06 23:05:41.0  ...  19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice  56  2012-05-06 23:05:42.0  ...  19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice  14  2012-05-06 23:06:29.0  ...  19e2e  051KhYDCpv  051KhYDCpv
...      ...  ..                    ...  ...    ...         ...         ...
14998  Voice   0  2012-05-09 00:01:43.0  ...  19e2e  2aa04dcab7  f7d63a29e5
14999  Voice  62  2012-05-09 00:01:43.0  ...  19e2e  7f1f2f889f  b4ddb9e93c
15000  Voice  32  2012-05-09 00:01:43.0  ...  19e2e  a4731e780e  d68260ef50
15001  Voice  30  2012-05-09 00:01:43.0  ...  19e2e  98ed726da2  b4130b54ab
15002  Voice  60  2012-05-09 00:01:43.0  ...  19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [10]:
qwe['cos'].unique()

array(['1', '0', '_', '5', '2', '3', '4', '8', '6', '7'], dtype=object)

In [11]:
qwe.loc [qwe['cos'] == '_']

          p  v                      d cos  ...     ca     cb         cid         sid
5      data  0  2012-05-06 23:07:26.0   _  ...  19e2e  OTHER  /lrUXVGVcN  /lrUXVGVcN
20     data  0  2012-05-06 23:10:30.0   _  ...  19e2e  OTHER  /vLAMOS+Qm  /vLAMOS+Qm
23     data  0  2012-05-06 23:11:27.0   _  ...  19e2e  OTHER  2yuhUrSXQu  2yuhUrSXQu
25     data  0  2012-05-06 23:12:07.0   _  ...  19e2e  OTHER  2FzOAUm82C  2FzOAUm82C
33     data  0  2012-05-06 23:13:05.0   _  ...  19e2e  OTHER  +pZNtCvhmT  +pZNtCvhmT
...     ... ..                    ...  ..  ...    ...    ...         ...         ...
14958  data  0  2012-05-09 00:01:42.0   _  ...  19e2e  OTHER  ffa6759bb2         NaN
14959  data  0  2012-05-09 00:01:42.0   _  ...  19e2e  OTHER  ffa6759bb2         NaN
14960  data  0  2012-05-09 00:01:42.0   _  ...  19e2e  OTHER  ffa6759bb2         NaN
14961  data  0  2012-05-09 00:01:42.0   _  ...  19e2e  OTHER  ffa6759bb2         NaN
14962  data  0  2012-05-09 00:01:42.0   _  ...  19e2e  OTHER  ffa6759bb2         NaN

[2267 rows x 10 columns]

In [12]:
qwe['cos'] = qwe['cos'].replace('_',-1)

In [13]:
qwe.loc [qwe['cos'] == '_']

Empty DataFrame
Columns: [p, v, d, cos, da, db, ca, cb, cid, sid]
Index: []

In [14]:
qwe['cos'].unique()

array(['1', '0', -1, '5', '2', '3', '4', '8', '6', '7'], dtype=object)

In [15]:
qwe['cos'] = pd.to_numeric(qwe['cos'])

In [16]:
qwe['cos'].unique()

array([ 1,  0, -1,  5,  2,  3,  4,  8,  6,  7])

In [17]:
qwe.dtypes

p      object
v       int64
d      object
cos     int64
da     object
db     object
ca     object
cb     object
cid    object
sid    object
dtype: object

In [18]:
wer.dtypes

Unnamed: 0        int64
VILLES           object
STATUS           object
LOCALISATION     object
DECOUPZONE       object
ZONENAME         object
LONGITUDE       float64
LATITUDE        float64
REGION           object
AREA             object
CELL_ID          object
SITE_CODE        object
dtype: object

##Data Cleaning

###Checking for duplicates in the two datasets from the data preperation

In [19]:
qwe.duplicated(keep=False)

0        False
1        False
2        False
3        False
4        False
         ...
14998    False
14999    False
15000     True
15001    False
15002    False
Length: 15003, dtype: bool

In [20]:
qwe = qwe.drop_duplicates()

qwe

           p   v                      d  ...     cb         cid         sid
0      Voice   0  2012-05-06 23:04:37.0  ...  19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms   0  2012-05-06 23:05:25.0  ...  19e2e  /+cKZKIp41  /+cKZKIp41
2        sms  25  2012-05-06 23:05:41.0  ...  19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice  56  2012-05-06 23:05:42.0  ...  19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice  14  2012-05-06 23:06:29.0  ...  19e2e  051KhYDCpv  051KhYDCpv
...      ...  ..                    ...  ...    ...         ...         ...
14997  Voice  10  2012-05-09 00:01:43.0  ...  OTHER  6467daa1db  8a96bae9c1
14998  Voice   0  2012-05-09 00:01:43.0  ...  19e2e  2aa04dcab7  f7d63a29e5
14999  Voice  62  2012-05-09 00:01:43.0  ...  19e2e  7f1f2f889f  b4ddb9e93c
15001  Voice  30  2012-05-09 00:01:43.0  ...  19e2e  98ed726da2  b4130b54ab
15002  Voice  60  2012-05-09 00:01:43.0  ...  19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

In [21]:
wer = wer.drop_duplicates()

wer

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

###Preparation of the Data to be merged

In [22]:
#Identifies the number of records that aren't unique
print (len(wer['CELL_ID'])- len(wer['CELL_ID'].unique()))
print (len(wer['SITE_CODE'])- len(wer['SITE_CODE'].unique()))

58
2945

The drop duplicates focused on the column 'SITE_CODE' will later play a big role in merging of the datasets to get all records that appear in both datasets with the SITE_CODE being the holder of the primary key.

In [23]:
wer = wer.drop_duplicates(['SITE_CODE'])
wer

      Unnamed: 0       VILLES  ...     CELL_ID   SITE_CODE
0              0       ADJAME  ...  fbb2e75af3  0bb492ef17
3              3      ASSINIE  ...  69bdfc69fd  8a1e6ce31f
6              6     KRIKOREA  ...  041d2504f5  260dbfedc5
7              7        ABOBO  ...  a70c1d263b  56306cc7ca
11            11        ABOBO  ...  3f766cedc0  c1ccd3443b
...          ...          ...  ...         ...         ...
3960        3960  ZON-HOUNIEN  ...  a3e5534191  32b8357a82
3963        3963   ZOUKOUGBEU  ...  317ba2e3e8  443ac3fc19
3966        3966      MARCORY  ...  eb76e06e8e  6daf54117b
3968        3968     ZUENOULA  ...  dcd3a41af8  f91ed8d2e9
3971        3971     ZUENOULA  ...  cb71f8a29c  61bee9c70c

[1029 rows x 12 columns]

In [24]:
print (len(wer['CELL_ID'])- len(wer['CELL_ID'].unique()))
print (len(wer['SITE_CODE'])- len(wer['SITE_CODE'].unique()))

#a print of 0 indicates that all of the objects in the column are unique to each other

0
0

###Data merging

Merging of data is done into two datasets. One is an full outer merge which holds all the data common to the two data sets while the other has ony tho common records within the two data sets.

In [25]:
fin =pd.merge( qwe, wer, left_on='sid' , right_on='SITE_CODE', validate='m:1',how='inner')
fin

           p   v                      d  ...           AREA     CELL_ID   SITE_CODE
0        sms   0  2012-05-07 00:00:00.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
1      Voice  92  2012-05-07 00:00:06.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
2        sms  25  2012-05-07 00:00:21.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
3      Voice  16  2012-05-07 00:00:21.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
4      Voice  35  2012-05-07 00:00:41.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
...      ...  ..                    ...  ...            ...         ...         ...
10234  Voice   0  2012-05-09 00:01:27.0  ...   CENTRE NORTH  ddaa93f2e4  8cc89f3fa9
10235    sms   0  2012-05-09 00:01:42.0  ...  ABIDJAN SOUTH  945c1dd777  d236ec6ca8
10236  Voice  47  2012-05-09 00:01:42.0  ...   CENTRE NORTH  8af3936d2c  aa59cc7ced
10237  Voice  17  2012-05-09 00:01:42.0  ...  ABIDJAN NORTH  c179f33d5e  cc45940406
10238    sms   0  2012-05-09 00:01:43.0  ...   CENTRE NORTH  0427a26d34  ab91f5b21d

[10239 rows x 22 columns]

In [26]:
jer = pd.merge( qwe, wer, left_on='sid' , right_on='SITE_CODE', how='outer',)
jer

           p    v                      d  ...           AREA     CELL_ID   SITE_CODE
0      Voice  0.0  2012-05-06 23:04:37.0  ...            NaN         NaN         NaN
1        sms  0.0  2012-05-06 23:40:48.0  ...            NaN         NaN         NaN
2        sms  0.0  2012-05-07 23:32:47.0  ...            NaN         NaN         NaN
3        sms  0.0  2012-05-07 23:52:21.0  ...            NaN         NaN         NaN
4       data  0.0  2012-05-07 23:53:21.0  ...            NaN         NaN         NaN
...      ...  ...                    ...  ...            ...         ...         ...
14909    NaN  NaN                    NaN  ...           EAST  9e68abf225  7cdbb01c24
14910    NaN  NaN                    NaN  ...     NORTH WEST  1da0fd228f  1cfc2d7ab1
14911    NaN  NaN                    NaN  ...     NORTH WEST  f64d217215  81a92c5d7e
14912    NaN  NaN                    NaN  ...           EAST  179972a14e  397b567741
14913    NaN  NaN                    NaN  ...  ABIDJAN SOUTH  eb76e06e8e  6daf54117b

[14914 rows x 22 columns]

# DATA ANALYSIS

Using the data the has been prepared a set of suppositions have come up which shall be listed and analysis shall be done to try get their merit. Some of these are as follows:


1.   Which ones were the most used city for the three days?
2.   Which cities were the most used during business and home hours?
3.   Most used city for the three days?
4.   Most used telecommunication service within your users
5.   Product usage per cells/site

##Finding the corelation between columns within the dataframe and SITE_ID which is the primary key.

Here a hypothetical realationship of 1:1 of unique elementw in two columns may mean that they can possibly be substituted for each other with further analysis. I.e if SITE_ID and VILLES [cities] share a close to 1:1 ratio in the tally of their unique values it is possible that data from the telecommunication dataset [qwe] can be grouped into cities by their Site_ID

In [27]:
qwe.columns

Index(['p', 'v', 'd', 'cos', 'da', 'db', 'ca', 'cb', 'cid', 'sid'], dtype='object')

In [28]:
wer.columns[1]

'VILLES'

In [29]:
#checks if there is any 1:1 relationship within the data in dataframe wer with the hope of further correlating the data within itself i.e

for r in wer.columns:
  print (str(r)+"\t"+str(len (wer[r].unique())))

Unnamed: 0	1029
VILLES	504
STATUS	2
LOCALISATION	2
DECOUPZONE	15
ZONENAME	33
LONGITUDE	1010
LATITUDE	1020
REGION	19
AREA	7
CELL_ID	1029
SITE_CODE	1029

In [30]:
for r in qwe.columns:
  print (str(r)+"\t"+str(len (qwe[r].unique())))

p	3
v	371
d	2143
cos	10
da	10697
db	8424
ca	1
cb	2
cid	2677
sid	1358

Nothing found

##Ranking of highest used telecommunication per city

Due to the limitation of the data that is being used and the unavailability of more data to expound on said data; an inner join will be used to collect data that can be directly be corelated with its cities.

In [31]:
#By using value 
vil = fin.groupby(['VILLES']).sum()
qua = vil.columns[1:]
vil = vil.drop(columns=qua)
vil.sort_values(by='v', ascending = False)

                     v
VILLES
YOPOUGON         39498
COCODY           36726
ABOBO            22239
KOUMASSI         14597
TREICHVILLE      13148
...                ...
GBAGBAM              0
GRAND BEREBY         0
NGATTADOLIKRO        0
GUEZON TAHOUAKE      0
AGOU                 0

[400 rows x 1 columns]

In [32]:
fin['p'].unique()

array(['sms', 'Voice'], dtype=object)

In [33]:
#By using frequency
fre = fin['VILLES'].unique()

#Building a frequency table 
dft = pd.DataFrame(index = fre , columns = ['voice', 'sms','data','total'])
dft = dft.fillna(0)
dft
for t, row in fin.iterrows():
  if row['p'] == 'Voice':
    dft.loc[row['VILLES'],'voice'] = dft.loc[row['VILLES'],'voice'] + 1
    dft.loc[row['VILLES'],'total'] = dft.loc[row['VILLES'],'total'] + 1
  if row['p'] == 'sms':
    dft.loc[row['VILLES'],'sms'] = dft.loc[row['VILLES'],'sms'] + 1
    dft.loc[row['VILLES'],'total'] = dft.loc[row['VILLES'],'total'] + 1
  if row['p'] == 'Data':
    dft.loc[row['VILLES'],'data'] = dft.loc[row['VILLES'],'data'] + 1
    dft.loc[row['VILLES'],'total'] = dft.loc[row['VILLES'],'total'] + 1

dft

          voice   sms  data  total
BOUAKE      122   141     0    263
PLATEAU      37    17     0     54
YOPOUGON    587  1031     0   1618
KORHOGO      64    43     0    107
ABOBO       351   768     0   1119
...         ...   ...   ...    ...
MBONOUA       0     1     0      1
PAKAOUBO      1     0     0      1
TIAPOUM       0     1     0      1
BLANFLA       1     0     0      1
DIABO         0     1     0      1

[400 rows x 4 columns]

In [34]:
#sorted by the number of voice entries there are
dft.sort_values(by='voice', ascending = False)

          voice   sms  data  total
YOPOUGON    587  1031     0   1618
ABOBO       351   768     0   1119
COCODY      325   418     0    743
ADJAME      198   270     0    468
MARCORY     191   239     0    430
...         ...   ...   ...    ...
MAHAPLEU      0     1     0      1
ALLOKOI       0     1     0      1
SONGON        0    16     0     16
ZAROKO        0     1     0      1
DIABO         0     1     0      1

[400 rows x 4 columns]

In [35]:
#sorted by the number of sms entries there are
dft.sort_values(by='sms', ascending = False)

                  voice   sms  data  total
YOPOUGON            587  1031     0   1618
ABOBO               351   768     0   1119
COCODY              325   418     0    743
ADJAME              198   270     0    468
KOUMASSI            189   252     0    441
...                 ...   ...   ...    ...
KONGASSO              1     0     0      1
SATIKRAN              3     0     0      3
ZAMBAKRO              3     0     0      3
BIELOU-CARREFOUR      1     0     0      1
NIAMBEZARIA           2     0     0      2

[400 rows x 4 columns]

In [36]:
#sorted by the number of sm entries there are
dft.sort_values(by='sms', ascending = False)

                  voice   sms  data  total
YOPOUGON            587  1031     0   1618
ABOBO               351   768     0   1119
COCODY              325   418     0    743
ADJAME              198   270     0    468
KOUMASSI            189   252     0    441
...                 ...   ...   ...    ...
KONGASSO              1     0     0      1
SATIKRAN              3     0     0      3
ZAMBAKRO              3     0     0      3
BIELOU-CARREFOUR      1     0     0      1
NIAMBEZARIA           2     0     0      2

[400 rows x 4 columns]

In [37]:
#sorted by the number of total entries there are
dft.sort_values(by='total', ascending = False)

             voice   sms  data  total
YOPOUGON       587  1031     0   1618
ABOBO          351   768     0   1119
COCODY         325   418     0    743
ADJAME         198   270     0    468
KOUMASSI       189   252     0    441
...            ...   ...   ...    ...
BALEKO           1     0     0      1
DJENIDOUFLA      1     0     0      1
DAKPADOU         1     0     0      1
PETIONARA        1     0     0      1
DIABO            0     1     0      1

[400 rows x 4 columns]

##Finding tally for working hours

Finding the tally for the heaviest use per city of telecommunication services will be done using the inner merged dataframe. Also with the assumption of the working hours being between 8:00AM and 5:00PM and outside those being the 'home' hours of usage.

###Preparing the data for the selection and sorting.

In [38]:
#Splitting the column of the date and time and changing the time to an number for easier analysis

datetime = fin
datetime = datetime['d'].apply(lambda x: pd.Series([i for i in (x.lower().split(' '))]))
datetime.columns = ['d','t']
datetime = datetime['t'].apply(lambda x: pd.Series([i for i in (x.lower().split(':'))]))
datetime.columns = ['h','m','s']
datetime['h']= pd.to_numeric(datetime['h'])
datetime.dtypes

h     int64
m    object
s    object
dtype: object

In [39]:
tem = pd.merge(fin, datetime, left_index=True , right_index=True)
tem

           p   v                      d  cos  ...   SITE_CODE  h   m     s
0        sms   0  2012-05-07 00:00:00.0    1  ...  1b5540c02d  0  00  00.0
1      Voice  92  2012-05-07 00:00:06.0    4  ...  1b5540c02d  0  00  06.0
2        sms  25  2012-05-07 00:00:21.0    0  ...  1b5540c02d  0  00  21.0
3      Voice  16  2012-05-07 00:00:21.0    0  ...  1b5540c02d  0  00  21.0
4      Voice  35  2012-05-07 00:00:41.0    1  ...  1b5540c02d  0  00  41.0
...      ...  ..                    ...  ...  ...         ... ..  ..   ...
10234  Voice   0  2012-05-09 00:01:27.0    2  ...  8cc89f3fa9  0  01  27.0
10235    sms   0  2012-05-09 00:01:42.0    1  ...  d236ec6ca8  0  01  42.0
10236  Voice  47  2012-05-09 00:01:42.0    1  ...  aa59cc7ced  0  01  42.0
10237  Voice  17  2012-05-09 00:01:42.0    4  ...  cc45940406  0  01  42.0
10238    sms   0  2012-05-09 00:01:43.0    2  ...  ab91f5b21d  0  01  43.0

[10239 rows x 25 columns]

###Filtering the records

In [40]:
office = tem[(tem['h'] > 8) & (tem['h'] < 17)]
office

Empty DataFrame
Columns: [p, v, d, cos, da, db, ca, cb, cid, sid, Unnamed: 0, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID, SITE_CODE, h, m, s]
Index: []

The empty dataset above states that there are no call in the dataset being used that were made during the scope of the time that was being sought for.

By mathematical logic it follows that if there is an empty set for 'office hours' the 'home hours' will have the full set of 'tem' which correspond to the similarity of the analysis done above since all the records of telecommunication activity are recorded to be within 'home hours'.

In [41]:
#nonetheless 
#wastehistime2020 #wastehertime2020 #gender_equality
home = tem[(tem['h'] < 8)]
home2 = tem[(tem['h'] >= 17)]
home = pd.concat([home,home2] , ignore_index = 0)
home2.drop
home

#for real this took me 4 hours to figure out I proclaimed it and claimed it... painfully

           p   v                      d  cos  ...   SITE_CODE  h   m     s
0        sms   0  2012-05-07 00:00:00.0    1  ...  1b5540c02d  0  00  00.0
1      Voice  92  2012-05-07 00:00:06.0    4  ...  1b5540c02d  0  00  06.0
2        sms  25  2012-05-07 00:00:21.0    0  ...  1b5540c02d  0  00  21.0
3      Voice  16  2012-05-07 00:00:21.0    0  ...  1b5540c02d  0  00  21.0
4      Voice  35  2012-05-07 00:00:41.0    1  ...  1b5540c02d  0  00  41.0
...      ...  ..                    ...  ...  ...         ... ..  ..   ...
10234  Voice   0  2012-05-09 00:01:27.0    2  ...  8cc89f3fa9  0  01  27.0
10235    sms   0  2012-05-09 00:01:42.0    1  ...  d236ec6ca8  0  01  42.0
10236  Voice  47  2012-05-09 00:01:42.0    1  ...  aa59cc7ced  0  01  42.0
10237  Voice  17  2012-05-09 00:01:42.0    4  ...  cc45940406  0  01  42.0
10238    sms   0  2012-05-09 00:01:43.0    2  ...  ab91f5b21d  0  01  43.0

[10239 rows x 25 columns]

##The most used telecomunication service.

From the data that has been given, there are specific services that are provided by the source of the data. Analysis will be done to find out which of them is the most used and which is the most valuable. An assumption is being made that the usage and popularity is evenly dispersed amongst the user thus the whole dataset of telecomunications will be used with disregard to the cell_geo data.

###Preparation of the data for analysis.

Collection of the data

In [42]:
#Cleaning the data by removing the duplicated records

tel = oqwe.drop_duplicates ()
tel

           p   v                      d  ...     cb         cid         sid
0      Voice   0  2012-05-06 23:04:37.0  ...  19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms   0  2012-05-06 23:05:25.0  ...  19e2e  /+cKZKIp41  /+cKZKIp41
2        sms  25  2012-05-06 23:05:41.0  ...  19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice  56  2012-05-06 23:05:42.0  ...  19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice  14  2012-05-06 23:06:29.0  ...  19e2e  051KhYDCpv  051KhYDCpv
...      ...  ..                    ...  ...    ...         ...         ...
14997  Voice  10  2012-05-09 00:01:43.0  ...  OTHER  6467daa1db  8a96bae9c1
14998  Voice   0  2012-05-09 00:01:43.0  ...  19e2e  2aa04dcab7  f7d63a29e5
14999  Voice  62  2012-05-09 00:01:43.0  ...  19e2e  7f1f2f889f  b4ddb9e93c
15001  Voice  30  2012-05-09 00:01:43.0  ...  19e2e  98ed726da2  b4130b54ab
15002  Voice  60  2012-05-09 00:01:43.0  ...  19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

###Analysis

Usage by value by telecommunication service

In [141]:
val = tel.groupby(['p']).sum()
col = val.columns
val = val.drop(columns = col[1:])
val

            v
p
Voice  306716
data    17285
sms     52377

Usage by frequency of service useage in the data set

In [44]:
fr = tel.groupby(['p']).count()
col = fr.columns
fr = fr.drop(columns = col [1:])
fr

          v
p
Voice  5570
data   2230
sms    6950

##Usage per cell/site

###Preparing the data

In [45]:
rty = oqwe.drop_duplicates('sid')
er = 0

#Checking the similarity of the columns
for r, row in rty.iterrows():
  if (row['cid'] == row['sid']):
    er += 1

print (er)
print (len(rty))
#prints the percentage of the silimar against the none
print ((er/len(rty))*100)

453
1358
33.35787923416789

With the above it can be concluded that CELL_ID is not similar to SITE_CODE thus only the data from the merged dataframe can be used for this analysis. Precisly 33.35% of CELL_ID and SITE_ID records are similar.

In [75]:
#Drops the records from the cell_geo dataset that could not corespond to and data on the telecom dataset 
zxc = zxc.dropna(subset=['p','v','ca'], axis=0)

comb = []
#Combining CELL_ID and SITE_ID  and makes them a combined object for unique distinction
for w , row in zxc.iterrows():
  comb.append(str(row['sid']) + "  " + str(row['cid']))

zxc['sidcid'] = comb
zxc

           p      v  ...   SITE_CODE                  sidcid
0      Voice    0.0  ...         NaN  /TJNe+Mmtu  /TJNe+Mmtu
1        sms    0.0  ...         NaN  /TJNe+Mmtu  /TJNe+Mmtu
2        sms    0.0  ...         NaN  /TJNe+Mmtu  /TJNe+Mmtu
3        sms    0.0  ...         NaN  /TJNe+Mmtu  /TJNe+Mmtu
4       data    0.0  ...         NaN  /TJNe+Mmtu  /TJNe+Mmtu
...      ...    ...  ...         ...                     ...
14745    sms    0.0  ...  d236ec6ca8  d236ec6ca8  9407858a4c
14746  Voice  675.0  ...         NaN  03528506ff  81ce9eeade
14747  Voice   47.0  ...  aa59cc7ced  aa59cc7ced  99b81a5dd0
14748  Voice   17.0  ...  cc45940406  cc45940406  2f50f4a1fb
14749    sms    0.0  ...  ab91f5b21d  ab91f5b21d  25c671778e

[14750 rows x 23 columns]

###Creating a frequency table using above data for analysis and analysis

####Collection of the data

In [99]:
#Creating and filling frequency table and populating

lis = zxc['sidcid'].unique()
idfre = pd.DataFrame(index = lis , columns = ['sidcid','voice', 'sms', 'data', 'total'])
idfre = idfre.fillna(0) 

for t, row in zxc.iterrows():
  idfre.loc[row['sidcid'],'sidcid'] = row['sidcid']
  if row['p'] == 'Voice':
    idfre.loc[row['sidcid'],'voice'] = idfre.loc[row['sidcid'],'voice'] + 1
    idfre.loc[row['sidcid'],'total'] = idfre.loc[row['sidcid'],'total'] + 1
  if row['p'] == 'sms':
    idfre.loc[row['sidcid'],'sms'] = idfre.loc[row['sidcid'],'sms'] + 1
    idfre.loc[row['sidcid'],'total'] = idfre.loc[row['sidcid'],'total'] + 1
  if row['p'] == 'Data':
    idfre.loc[row['sidcid'],'data'] = idfre.loc[row['sidcid'],'data'] + 1
    idfre.loc[row['sidcid'],'total'] = idfre.loc[row['sidcid'],'total'] + 1

idfre

                                        sidcid  voice  sms  data  total
/TJNe+Mmtu  /TJNe+Mmtu  /TJNe+Mmtu  /TJNe+Mmtu      1    5     0      6
/+cKZKIp41  /+cKZKIp41  /+cKZKIp41  /+cKZKIp41      2    2     0      4
/u0FSD+ahi  /u0FSD+ahi  /u0FSD+ahi  /u0FSD+ahi      3    3     0      6
+cNeJzsTp3  +cNeJzsTp3  +cNeJzsTp3  +cNeJzsTp3      2    5     0      7
051KhYDCpv  051KhYDCpv  051KhYDCpv  051KhYDCpv      3    3     0      6
...                                        ...    ...  ...   ...    ...
d236ec6ca8  9407858a4c  d236ec6ca8  9407858a4c      0    1     0      1
03528506ff  81ce9eeade  03528506ff  81ce9eeade      1    0     0      1
aa59cc7ced  99b81a5dd0  aa59cc7ced  99b81a5dd0      1    0     0      1
cc45940406  2f50f4a1fb  cc45940406  2f50f4a1fb      1    0     0      1
ab91f5b21d  25c671778e  ab91f5b21d  25c671778e      0    1     0      1

[2677 rows x 5 columns]

In [100]:
#Splitting the combined column

k = idfre['sidcid'].apply(lambda x: pd.Series([i for i in x.lower().split('  ')]))
k.columns = ['SITE_ID', 'CELL_ID']

freqtable = pd.merge(idfre , k , left_index=True, right_index=True)
freqtable = freqtable.drop(columns = ['sidcid'])
freqtable.reset_index(drop = True , inplace = True)
freqtable

      voice  sms  data  total     SITE_ID     CELL_ID
0         1    5     0      6  /tjne+mmtu  /tjne+mmtu
1         2    2     0      4  /+ckzkip41  /+ckzkip41
2         3    3     0      6  /u0fsd+ahi  /u0fsd+ahi
3         2    5     0      7  +cnejzstp3  +cnejzstp3
4         3    3     0      6  051khydcpv  051khydcpv
...     ...  ...   ...    ...         ...         ...
2672      0    1     0      1  d236ec6ca8  9407858a4c
2673      1    0     0      1  03528506ff  81ce9eeade
2674      1    0     0      1  aa59cc7ced  99b81a5dd0
2675      1    0     0      1  cc45940406  2f50f4a1fb
2676      0    1     0      1  ab91f5b21d  25c671778e

[2677 rows x 6 columns]

####Analysing

#####By frequency

In [103]:
#Which cell ID had the most usage by frequency
freqtable.sort_values('total', ascending =False)

      voice  sms  data  total     SITE_ID     CELL_ID
1075      9   64     0     73  7f76d66503  03ee801971
717       2   63     0     65  b47a998a3e  cc7ce19d6b
709       3   39     0     42  ea07812c27  b78724d6fc
903      13   27     0     40  2d58cad870  d22224b2fa
777       5   35     0     40  928a59b635  f54e480df9
...     ...  ...   ...    ...         ...         ...
2653      0    0     0      0  nhzjvr1/sp  nhzjvr1/sp
2599      0    0     0      0  t16ozsms3u  t16ozsms3u
2333      0    0     0      0  kiqy0lkgo8  kiqy0lkgo8
298       0    0     0      0  ps8zbgth9x  ps8zbgth9x
2343      0    0     0      0  mtwilv82zt  mtwilv82zt

[2677 rows x 6 columns]

In [102]:
#Which cell ID had the most usage by frequency for voice
freqtable.sort_values('voice', ascending =False)

      voice  sms  data  total     SITE_ID     CELL_ID
905      21   13     0     34  47657c9634  ab68996d93
389      18    2     0     20  a7bd4c027b  885037e317
721      17    6     0     23  b4e77d440c  bcc3209833
489      16   11     0     27  5c565fbfb1  7ea7f9e5ec
376      16   23     0     39  c07a544c63  cd828df0e4
...     ...  ...   ...    ...         ...         ...
1755      0    1     0      1  6a0882c490  d52f5602c6
1762      0    3     0      3  bb10e04c53  4a1946d719
1766      0    1     0      1  036dbd5fb8  e3ea46f5ca
1767      0    2     0      2  7254d0a3da  14c0c792fe
2676      0    1     0      1  ab91f5b21d  25c671778e

[2677 rows x 6 columns]

In [104]:
#Which cell ID had the most usage by frequency by sms
freqtable.sort_values('sms', ascending =False)

      voice  sms  data  total     SITE_ID     CELL_ID
1075      9   64     0     73  7f76d66503  03ee801971
717       2   63     0     65  b47a998a3e  cc7ce19d6b
709       3   39     0     42  ea07812c27  b78724d6fc
777       5   35     0     40  928a59b635  f54e480df9
1181      3   34     0     37  8e6413d5b8  b4f8f69157
...     ...  ...   ...    ...         ...         ...
598       2    0     0      2  4849c3cf05  2c2dfdd839
1796      1    0     0      1  fe31a370fe  afb5f8fbab
940       1    0     0      1  7e87e2e48c  84a07c169d
936       2    0     0      2  6049499424  37d8b85c2b
1896      2    0     0      2  42072d1dc6  bd3cb499e3

[2677 rows x 6 columns]

#####By value

The below code gets the summation of every cell based in a site then compares the values that they brought in by provision of telecommunication services. There may occur errors resulting from blanc records [NaN] which would collectively group the value as per the SITE_ID by itself as opposed to the CELL_ID within the SITE_ID

In [139]:
byval = zxc.groupby('sidcid').sum()
col = byval.columns
byval = byval.drop(columns = col[1:])

byval = byval.reset_index()

c = byval['sidcid'].apply(lambda x: pd.Series([i for i in x.lower().split('  ')]))
c.columns = ['SITE_ID', 'CELL_ID']
byval = pd.merge(byval, c , left_index=True , right_index=True)
byval = byval.drop(columns = 'sidcid')
byval.sort_values ('v',ascending =False)

            v     SITE_ID     CELL_ID
2676  15284.0         nan  ffa6759bb2
2675  12900.0         nan  2def69183e
1876   6800.0  a64fc672f1  3f5ac97214
1771   4225.0  mpohp3oknn  mpohp3oknn
482    3437.0  2e828e607c  5a7f6cf0fa
...       ...         ...         ...
2294      0.0  d822658d4f  e257c26443
1720      0.0  j2vnmbxae+  j2vnmbxae+
1722      0.0  jemvpf7du4  jemvpf7du4
165       0.0  0cc7526634  db723a5b29
1716      0.0  iyek77vwyx  iyek77vwyx

[2677 rows x 3 columns]

#RECOMMENDATIONS

Marketing resources should be biased on the areas that have a net of 0 usage as is in the tables on the analysis.

Product bundles should be made due to the ratio of usage. This is since data is not used as much as voice and sms; sell the products as a bundle to improve the margin on the gains from data to expand the revenue stream.

Infrastructure should be planed with bias to the areas of high usage.

Pricing on the heaviest used products [voice , sms] should be slightly increased to cater for the expansion of infrastructure within those regions.

Make a kaklande package since most of the products were sold within the wee hours of the night/morning.

#EVALUATION

All of the objectives were met whilst the project was being undertaken. Also; an unpredicted occurrence of looking at the frequency of usage on products was discovered along the way which was used alongside the predefined value of product.